.header {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Avenir;
    font-family: 'Just Me Again Down Here';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
}

.start-order {
    background-color: orange;
    color: white;
    display: flex;
    padding:18px;
    align-items: center;
    justify-content: center;
    font-family: Avenir;
    border-radius: 10px;
    width: 100%; 
    height: 50px; 
}

.address-type {
    color: black;
    padding: 10px;
    width: 100%;
    font-family: Avenir;
}


.street-address {
    color: black;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-family: Avenir;
}

.suite-apt {
    color: black;
    padding: 10px;
    margin: 100px 0;
    font-family: Avenir;
    font-size: 18px;
}

.inputs {
    margin: auto;
    margin-top: 30px;
    text-align: right;
    width: 600px;
}

.input {
    color: black;
    padding: 2px;
    margin: 40px 0 0 0;
    font-size: 18px;
    width: 400px;
}

.addrinput {
    color: black;
    padding: 2px;
    margin: 10px 0 0 0;
    width: 407.5px;
    font-size: 18px;
}

.city {
    color: black;
    padding: 10px;
    margin: 100px 0;
    align-items: left;
    font-family: Avenir;
}

.postal {
    color: black;
    padding: 2px;
    margin: 10px 0 0 0;
    width: 128px;
    font-size: 18px;
}


.pickup {
    color: black;
    padding: 10px;
    align-items: left;
    margin: 40px 10px 10px 0;
    font-family: Avenir;
}

.delivery {
    color: black;
    padding: 10px;
    align-items: left;
    font-family: Avenir;
    margin: 10px 10px 10px 0;
}

.hover-text {
    display: none;
    font-size: 10px;
}

.hover-button {
    font-size: 18px;
    cursor: pointer;
}

.hover-button:hover .hover-text {
    display: block;
}

.provinput {
    color: black;
    padding: 2px;
    margin: 40px 0 0 0;
    width: 140px;
    font-size: 18px;
}


body {
    align-items: center;
    text-align: center;
    font-size: 18px;
}

